h1 {
  color: #5D5E60;
  text-align: center;
  font-size: 50px;
}

body {
  background-color: #dacde4;
  font-family: 'Space Mono', monospace;
  /* margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px; */
  margin: 20px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #f7f5f7;
  margin: 10px;
  border-radius: 25px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: #5D5E60;
  text-align: center;
  padding: auto;
  text-decoration: none;
}

.navbarul {
  list-style-type: none;
  margin: 15;
  padding: 0;
  overflow: hidden;
}

.navbarul li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.navbarul li a {
  display: block;
  /* color: white; */
  text-align: center;
  padding-right:  16px;
  padding-left: 16px;
  text-decoration: none;
}

.navbarul li a:hover {
  background-color: rgb(194, 184, 223);
  border-radius: 25px;
}



/* .grid-container {
    display: grid;
    grid-template-areas:
      "starters dishes"
      "desserts shabbat";
    grid-gap: 10px;
    padding: 10px; 
  }

  .starters {
    grid-area: starters;
    height: 300px;
    width:400px;
    max-width:300px;
    max-height:400px;
    background-size: cover;
  }

  .dishes {
    grid-area: dishes;
    height: auto;
    width:auto;
    max-width:300px;
    max-height:400px;
    background-size: cover;
  }

  .desserts {
    grid-area: desserts;
    height: auto;
    width:auto;
    max-width:300px;
    max-height:400px;
    background-size: cover;
  }

  .shabbat {
    grid-area: shabbat;
    height: auto;
    width:auto;
    max-width:300px;
    max-height:400px;
    background-size: cover;
  } */

.parent {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.child {
  width: 300px;  
  height: 400px;
  margin: auto;
  font-size: 20px;  
  text-align: center;
  padding: 25px;
}

figure {
  width: 300px;  
  height: 400px;
  margin: auto; 
  
}

.child img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 25px;
}



footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  height: auto;
  width: 100vw;
  padding-top: 40px;
  padding-left: 10px;
  color: #fff;
}

.recipeimg{
  width:230px;
  height: 230px;
  border-radius: 25px;
}

/* things elisheva added */
.ingredientlst {
  list-style-type: circle;
  line-height: 40px;
}

article {
  margin: 30px;
}

.listofrecipes {
  color: white;
  margin: 30px;
}

.recipelst {
  line-height: 30px;
}

table {
  border: none;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}  
td, th {
border: none;
text-align: center;
padding: 8px;
} 

.aboutimg {
  width: 300px;
  height: 300px; 
  border-radius: 25px;
}

/* style for the contact form */
.card {
  width: 70%;
  padding: 0px 90px 20px 90px;
  border: 6px solid rgba(0, 0, 0, 0.3);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  position: relative;
}

.card h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 60px;
  text-transform: uppercase;
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit,minmax(40%, 1fr)); /**/
  grid-gap: 30px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 20px 20px 30px 0;
  transition: 0.5s;
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 30px;
  color: #ffffff;
}

.card .row .form-group input,
.card .row .form-group textarea {
  position: absolute;
  width: 90%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 50px;
}

.card .row .form-group label {
  line-height: 40px;
  color: #ffffff;
  font-size: 24px;
  margin: 0 0 0 20px;
  display: block; /**/
  pointer-events: none;
}

.row .col:nth-child(6) {
  margin-top: 40px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
  border: 5px solid #ffffff;
  transition: all 0.5s;
}

.card .row input[type="submit"] {
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
  border: 5px solid rgba(255, 255, 255, 1);
  color: #ffffff;
  transition: all 0.4s;
}

@media screen and (max-width: 900px) {
  .card .row {
    grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
  }
  
  .card {
    padding: 20px;
  }
  
  .card h2 {
    font-size: 34px;
  }
  
  .card .row input[type="submit"] {
    width: 100%;
  }
}

